*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.question{
    align-content: center;
}



:root {
    --hue-neutral: 60;
    --hue-wrong: 0;
    --hue-correct: 120;
}

body{
    --hue: var(--hue-neutral);
    padding:0;
    margin:20 ;
    display: flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color:hsl(var(--hue), 100%, 20%) ;
    
}



body.correct {
    --hue: var(--hue-correct);
  }

body.wrong {
  --hue: var(--hue-wrong);
}

.Title, .high-score, .text-high-score{
    text-align: center;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.timer{
 text-align: center;
 font-family: 'Tangerine', serif;
 font-size: 38px;
 text-shadow: 4px 4px 4px #aaa;
}

.score{
text-align: center;
font-family: 'Tangerine', serif;
font-size: 38px;
text-shadow: 4px 4px 4px #aaa;
}
.container {
    text-align: center;
    margin: auto;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

.question-container{
    font-family: 'Tangerine', serif;
    font-size: 38px;
    text-shadow: 4px 4px 4px #aaa;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.select {
    background-color: rgb(141, 171, 238) !important;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(36, 30, 30);
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: rgb(6, 128, 71);
}

.btn.wrong {
    --hue: var(--hue-wrong);
    color: blueviolet;
}

.start-btn, .next-btn, .restartbtn, .submit {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}

.post-quiz {
    justify-content: center;
    align-items: center;
    display: flex;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}



.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }